.menu-item{
  display: flex;
  /* height: 200px; */
}
.photo{
  height: 100px;
  width: 150px;
  border: 3.5px solid rgb(224, 140, 28);
  border-radius:0.4rem ;
  margin: 20px;
}
.item-info{
  margin: 0px 0px 20px 20px;
}
header{
  display: flex;
    margin: 0px 0px -15px 0px;

}
.price{
  color: rgb(224, 140, 28);

}